
html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /*padding: 0px 0px 0px 25px;*/
    text-align: center;
    overflow: auto;
    background-color:  rgb(255, 251, 251);
    
}


header img {
    width: 250px;
    padding: 10px;
    float: left;
    mix-blend-mode: multiply;  /*This allows the image to blend w/ the background  */
}


nav {
    padding-top: 2em;
    margin-left: 25%;
    
}

nav ul {
   list-style-type: none;
   padding: 0;
   text-align: center;
   
}

nav ul li {
    display: inline;
    border-bottom: solid 5px transparent;
    padding: 20px 10px;
    transition: border-bottom 1s;
}

nav ul li:hover {
    border-bottom: #fed208 solid 5px;

}



nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    display: inline-flex;
    justify-content: space-around;
    width: 10%;
}



main {
    text-align: center;
    background-color: #1fb4e8;
    background-image: linear-gradient(  rgb(255, 251, 251), #1fb4e8);
    height: 100%;
}

main h2 {
    font-size: xx-large;
}
.slides {
    display: none;
}


#slideshow {
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
   
}

#slideshow img {
    width: 640px;
    height: 427px;
    margin-left: auto;
    margin-right: auto;
}

figure{
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
}

/*
.animate-left {
    position:relative;
    animation:animateleft 2s
}

@keyframes animateleft{
    from{left:-300px;opacity:0} 
    to{left:0;opacity:1}
}
*/

/* Use fragment identifier concept to link to a particular spot in a page
A hyperlink can also target a specific point in a different document using the document’s URL, 
followed by a # hash character, then the fragment identifier. 
For example, the tag <a href=”index.html#top”> targets an element 
within a document named “index.html” that contains the unique fragment identifier name of “top”.*/


footer{
    color: white;
    background-color: slategray;
    font-size: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}
